{% load bootstrap4 %}

{% load static %}

<!DOCTYPE html>

<html>

    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}Главная{% endblock %}-Расписание дежурств</title>

        {% bootstrap_css %}

        <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">

        {% bootstrap_javascript jquery='slim' %}

    </head>

    <body class="container-fluid">

        <header class="mb-0">
<!--
            <h6 class="text-center">Расписание дежурств</h6>
-->
        </header>

        <div class="row">

            <ul class="col nav justify-content-end border">

                <li class="nav-item"><a class="nav-link" href="#">

                Регистрация</a></li>


                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" data-toggle="dropdown"

                    href="#" role="button" aria-haspopup="true"

                    aria-expanded="false">Профиль</a>

                    <div class="dropdown-menu">

                        <a class="dropdown-item" href="#">Мои объявления</a>

                        <a class="dropdown-item" href="#">

                        Изменить личные данные</a>

                        <a class="dropdown-item" href="#">

                        Изменить пароль</a>

                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item" href="#">Выйти</a>

                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item" href="#">Удалить</a>

                    </div>

                </li>


                <li class="nav-item"><a class="nav-link" href="#">Вход</a></li>


            </ul>

        </div>

	<div class="row">


                {% bootstrap_messages %}

                {% block content %}

                {% endblock %}


	</div>

<!--<footer class="mt-auto">

            <p class="text-right font-italic">&copy; читатели, 2018 г.</p>

        </footer>

--.

</body>

</html>


